@import "tailwindcss";


@theme{
  --font-primary: "Bai Jamjuree", sans-serif;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ffb9b9;
  /* transition: all 0.3s ease; */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: red;
  width: 60px;
  border-radius: 60px;
}